<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Give da Info
body
  h1 WhO eEz YOu?
  form(method="POST" action="/info")
    input(type="text" name="name" placeholder="YoUR nAMe..," autofocus)