<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Give da Info
body
  h1 WhO eEz YOu?
  form(method="POST" action="/info")
    input(type="text" name="name" placeholder="YoUR nAMe..," autofocus)
    input(type="text" name="age" placeholder="YoUR agE..," )
    input(type="text" name="color" placeholder="YoUR favRIte coLoUR..," )
    input(type="hidden" name="username" value="username")
    input(type="hidden" name="password" value="password")
    input(type="submit")

